In [2]:
import sqlite3 as s3
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

con = s3.connect("khipu.db")
cur = con.cursor()
#for row in cur.execute('select * from khipu_main'):
    #print(row)

khipuNamesDF = pd.read_sql_query("select KHIPU_ID,INVESTIGATOR_NUM,orig_inv_num, MUSEUM_NAME, MUSEUM_NUM from khipu_main",con)
khipuNamesDF.head()

,KHIPU_ID,INVESTIGATOR_NUM,orig_inv_num,MUSEUM_NAME,MUSEUM_NUM
0,1000000,UR019,UR019,"""Centro Mallqui, Leymebamba, Amazonas""",CMA-480/LC1-109.3
1,1000001,UR008,UR008,"""Centro Mallqui, Leymebamba, Amazonas""",CMA-480/LC1-109.5
2,1000002,UR020,UR020,"""Centro Mallqui, Leymebamba, Amazonas""",CMA-480/LC1-109.6
3,1000003,UR018,UR018,"""Centro Mallqui, Leymebamba, Amazonas""",CMA-480/LC1-109B
4,1000004,UR010,UR010,"""Centro Mallqui, Leymebamba, Amazonas""",CMA-480/LC1-109.1

In [69]:
qID = 1000000
import sqlalchemy as s
import pandas as pd
engine = s.create_engine('sqlite:///khipu.db')

## Input cord ordinals and get knots in Ascher format

In [55]:
as68 = [28,29,39,70,77,102,106,109,116,124,127,135,140,191,211]
ur281=[28,29,39,40,71,78,103,107,110,117,125,127,135,140,191,211]

In [78]:
#Select list and input khipu name. Goes by ordinal number for the list.
l1 = ur281
quipu = 'UR281'

def lookupL(l,qName):
        df = pd.read_sql_query('SELECT c.khipu_id, k.cord_id, c.cord_ordinal,kc.cluster_id, k.type_code, \
        kc.start_pos, k.num_turns,k.knot_value_type,c.cord_length, c.termination \
        FROM cord AS c \
        LEFT JOIN knot AS k \
        ON c.cord_id = k.cord_id \
        LEFT JOIN knot_cluster AS kc \
        ON k.cluster_id = kc.cluster_id \
        WHERE  c.cord_id = \
        (SELECT cord_id \
        FROM cord \
        WHERE cord_ordinal = '+ str(l)+' \
        AND khipu_id = ( \
            SELECT khipu_id \
            FROM khipu_main \
            WHERE investigator_num = "'+qName+'"))',engine)
    return df

def addKnot(numKnots,i):
    startPos = str(df['START_POS'][i])
    if '.' not in startPos:
        startPos = startPos+'.0'
    str2 = str(numKnots)+df['TYPE_CODE'][i]+'('+startPos+')'
    return str2
for l in l1:
    df = lookupL(l,quipu)
    #print(str(l))
    #print(df.head())
    str1 = '{}: '.format(df['CORD_ORDINAL'][0])
    i=0
    lastNum = 0
    numKnots=1
    while i< df.index.size:
        if df['CLUSTER_ID'][i] == lastNum:
            numKnots=numKnots+1
     #       print("if df['CLUSTER_ID'][i] == lastNum:")
        else:
      #      print('else')
            if lastNum !=0:
       #         print('if lastNum !=0:')
                if i !=0:
        #            print('if i !=0:')
                    num=numKnots
                    if df['TYPE_CODE'][i-1]=='L':
                        num=df['knot_value_type'][i-1]
                    str1 = str1 + addKnot(num,i-1)
                numKnots=1
                if i <df.index.size:
         #           print('if i <df.index.size:')
                    str1= str1+', '
                
            lastNum = df['CLUSTER_ID'][i]
            
          #  print('lastNum: '+str(lastNum))
        if i+1 == df.index.size:
           # print('if i+1 == df.index.size:')
            num=numKnots
            if df['TYPE_CODE'][i]=='L':
                num=df['knot_value_type'][i]
            str1=str1 + addKnot(num,i)        
        i=i+1
        
    print(str1)

28: 2S(13.0)
29: 1S(12.5), 7S(23.0), 4L(34.5)
39: 6S(23.0), 9L(32.0)
40: 1S(23.5), 1E(32.5)
71: 3S(14.0), 7L(23.0)
78: 3S(9.0), 9L(18.0)
103: 3L(18.5)
107: 1S(8.5), 5L(17.5)
110: 9L(18.5)
117: 1S(5.5), 9S(12.5), 5L(31.5)
125: 2S(14.5), 4S(24.0), 3L(33.0)
127: 2S(12.5), 9S(22.0), 5L(29.5)
135: 1S(4.5), 7S(22.5), 8L(32.0)
140: 8S(23.5), 7L(33.5)
191: 6S(7.5), 4L(20.5)
211: 6S(9.0), 8L(19.5)

SyntaxError: unexpected EOF while parsing (<ipython-input-38-861bf4de7ede>, line 18)